#container
  .pure-g.main
    .pure-u-1-1
      %p.error.pure-u-1-1
        = @error      
      .pure-u-1-1
        %form.go.pure-form(action="/photo" method="GET")
          rand(
          %input.pure-input-1-5(name="user" type="text" placeholder="flickr user")
          )
          %button.pure-button(type="submit")
            %i.fa.fa-flickr
            %span go
      .pure-u-2-5.predefined
        %a(href="/photo/jarm0") or just view my random images
