!!! 5
%html
  %head
    %title
      rand(flickr)
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto")
    %link(rel="stylesheet" type="text/css" href="style.css")
    
    %script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    %script(type="text/javascript" src="http://underscorejs.org/underscore-min.js")
    %script(type="text/javascript" src="script.js")

    -#:javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12994604-4']);
      _gaq.push(['_setDomainName', 'hackersays.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      $(function() {
        new PhotoRenderer($("#container"), #{MultiJson.dump @photo}).render()
      })
    
  %body
    #container
      .caption
