@mixin link {
  text-decoration: none; 
  &:hover { text-decoration: underline; }
  color: #fff;
}

@mixin opacity-animation {
  opacity: 0.4;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;

  &:hover { opacity: 1; }
}

html, body {
  height: 99%;
  width: 99%;
  margin: 0;
  padding: 0;
  background: black;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: 'Roboto', sans-serif;
}

#container, #loader {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  color: #fff;
}

#container .bg {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity : 0.5;
}

#container {
  max-width: 1024px;
  max-height: 1024px;

  .caption {
    position: absolute;
    color: #ccc;
    text-align: right;
    right: 20px;
    top: 40px;
    font-size: 18px;
    background-color: black;
    opacity: 0.6;
    padding: 10px;
  }

  .main {
    text-align: center;
    height: 220px;
    .go {
      font-size: 2em;
      margin: 10px;
    }

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .predefined {
      text-align: right;
      font-size: 90%;
      a {
        @include link;
      }
    }
  }
}

.author {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
  color: #fff;
  @include opacity-animation;

  a { @include link; }
}

.hidden {
  display: none;
}

$error-color: rgb(202, 60, 60);

.pure-button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: $error-color;
}

.error {
  text-align: center;
  color: $error-color;
  min-height: 25px;
}

.github {
  @include opacity-animation;
}

.submit {
  width: 140px;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
